@font-face {
  font-family: avenirnextcyr;
  font-display: swap;
  src: url("../fonts/avenirnextcyr-bold.woff2") format("woff2"), url("../fonts/avenirnextcyr-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: avenirnextcyr;
  font-display: swap;
  src: url("../fonts/avenirnextcyr-demi.woff2") format("woff2"), url("../fonts/avenirnextcyr-demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: avenirnextcyr;
  font-display: swap;
  src: url("../fonts/avenirnextcyr-heavy.woff2") format("woff2"), url("../fonts/avenirnextcyr-heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: avenirnextcyr;
  font-display: swap;
  src: url("../fonts/avenirnextcyr-light.woff2") format("woff2"), url("../fonts/avenirnextcyr-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: avenirnextcyr;
  font-display: swap;
  src: url("../fonts/avenirnextcyr-medium.woff2") format("woff2"), url("../fonts/avenirnextcyr-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: drukwidemedium;
  font-display: swap;
  src: url("../fonts/Druk Wide Medium.woff2") format("woff2"), url("../fonts/Druk Wide Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: avenirnextcyr;
  font-display: swap;
  src: url("../fonts/avenirnextcyr-regular.woff2") format("woff2"), url("../fonts/avenirnextcyr-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: drukwideregular;
  font-display: swap;
  src: url("../fonts/drukwidecyr.woff2") format("woff2"), url("../fonts/drukwidecyr.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: radiotechnika;
  font-display: swap;
  src: url("../fonts/radiotechnika.woff2") format("woff2"), url("../fonts/radiotechnika.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: avenirnextcyr;
  font-size: 14px;
  font-weight: 400;
}

body {
  overflow: scroll;
  overflow-x: hidden;
  padding: 20px 0 20px 20px;
  background-color: #F1F1F1;
}

body::-webkit-scrollbar {
  width: 20px;
  background-color: #F1F1F1;
}

body::-webkit-scrollbar-track {
  margin: 11px 0;
}

body::-webkit-scrollbar-thumb {
  background-color: #111111;
  border: 9px solid #F1F1F1;
}

.body__inner {
  min-height: calc(100vh - 40px);
  background-color: #111111;
}

p:lang(en) {
  display: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #F1F1F1;
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
}

a:hover {
  color: #6667ab;
}

h1 {
  font-size: 32px;
  font-family: drukwideregular;
  text-transform: uppercase;
  color: #F1F1F1;
}

h3 {
  font-size: 20px;
  font-weight: 300;
  text-transform: lowercase;
  color: rgba(241, 241, 241, 0.7);
}

.container {
  max-width: 1440px;
  padding: 240px 20px;
  margin: 0 auto;
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.main__title {
  margin-bottom: 20px;
  font-family: drukwideregular;
  font-size: 32px;
  color: #6667ab;
}

.main__img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.main__img-body {
  margin-right: 100px;
}

.main__desc {
  margin-bottom: 5px;
}

.main__desc:last-child {
  margin-bottom: 0;
}

.main__abs {
  font-size: 26px;
  color: #F1F1F1;
  margin-bottom: 20px;
}

.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 100px 0 100px;
  padding-right: 120px;
  margin-top: 100px;
}

.header__home {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  background-color: #FFFFFF;
}

.header__nav {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  margin-right: 30px;
  font-weight: 700;
}

.header__link:last-child {
  margin-right: 0;
}

.header__link:hover {
  color: #6667ab;
}

.header__pages {
  margin-right: 50px;
  opacity: 0;
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
}

.header__pages--visible {
  opacity: 1;
}

.header__icon {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__burger {
  position: relative;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 36px;
  height: 12px;
  cursor: pointer;
}

.header__burger--active .header__line {
  position: absolute;
  top: 50%;
  left: 3px;
  width: 30px;
  background-color: #6667ab;
}

.header__burger--active .header__line:first-child {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.header__burger--active .header__line:last-child {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.header__burger:hover .header__line {
  background-color: #6667ab;
}

.header__line {
  width: 100%;
  height: 2px;
  background-color: #F1F1F1;
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
}

.header__line:last-child:hover {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.portfolio {
  display: -ms-grid;
  display: grid;
  grid-gap: 100px;
}

.portfolio__name {
  margin-bottom: 10px;
  line-height: 1;
}

.portfolio__link {
  font-family: drukwideregular;
  font-size: 36px;
}

.contacts {
  text-align: center;
}

.contacts__title {
  margin-bottom: 50px;
  color: #6667ab;
}

.contacts__title:last-child {
  margin-bottom: 100px;
}

.contacts__desc {
  margin-bottom: 100px;
}

.contacts__mail {
  font-size: 20px;
}

.contacts__text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__link {
  margin: 0 40px;
  font-size: 20px;
}

.contacts__link:hover {
  border-bottom: 1px solid #6667ab;
}

.skills {
  padding-top: 240px;
  padding-bottom: 240px;
  text-align: center;
}

.skills__line {
  display: -ms-grid;
  display: grid;
  grid-gap: 100px;
  margin-bottom: 100px;
  -webkit-animation: 7s linear infinite;
          animation: 7s linear infinite;
}

.skills__icon {
  display: inline;
  margin-bottom: 20px;
}

.skills__item {
  display: inline-block;
  text-align: center;
  margin-right: 100px;
}

@media (max-width: 1023px) {
  body {
    padding: 0;
  }

  .body__inner {
    min-height: 100vh;
  }

  .container {
    padding: 160px 20px;
  }

  .header {
    margin-top: 30px;
    padding: 20px;
  }

  .portfolio {
    grid-gap: 50px;
  }

  .portfolio__name {
    font-size: 16px;
  }

  .portfolio__link {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 20px;
  }

  .main__header {
    display: block;
    text-align: center;
  }

  .main__img-body {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .header__link {
    color: #111111;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .header__pages {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    padding: 20px;
    margin-right: 0;
    padding-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
    background-color: #F1F1F1;
  }

  .header__pages--visible {
    right: 0;
  }

  .contacts__title {
    margin-bottom: 20px;
  }

  .contacts__desc {
    margin-bottom: 50px;
  }

  .contacts__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts__link {
    margin: 10px 0;
    display: inline-block;
  }

  .skills {
    padding-top: 160px;
    padding-bottom: 160px;
  }

  .skills__line {
    margin-bottom: 50px;
    grid-gap: 50px;
  }
}