@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}

body {
  background-color: #ebebeb;
  overflow-x: hidden;
}

img {
  display: block;
}

p,
h1,
h2 {
  letter-spacing: 0.5px;
}

p {
  font-size: 14px;
}

a {
  font-size: 12px;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 15px;
  text-transform: uppercase;
  color: inherit;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
  font-size: 16px;
  text-transform: uppercase;
  background-color: transparent;
  color: #B2B2B2;
  border: none;
  border-bottom: 1px solid #ccc;
}

button {
  background-color: transparent;
  border: none;
  color: #B2B2B2;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 26px;
  margin: 0 auto;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__cart {
  margin-right: 55px;
}

.block__inner {
  position: relative;
  padding: 40px;
  display: -ms-grid;
  display: grid;
  grid-gap: 40px;
}

.block__inner-main {
      grid-template-areas: "img text" "title text";
  -ms-grid-columns: 1fr 280px;
  grid-template-columns: 1fr 280px;
  -ms-grid-rows: 1fr min-content;
  grid-template-rows: 1fr -webkit-min-content;
  grid-template-rows: 1fr min-content;
}

.block__inner-main .block__text {
  margin-top: 120px;
}

.block__inner-main .block__img {
  margin: -40px;
  margin-bottom: 0;
  margin-right: 0;
}

.block__inner-standard {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
      grid-template-areas: "desc img" "text img" "text title";
  -ms-grid-columns: 280px 1fr;
  grid-template-columns: 280px 1fr;
  -ms-grid-rows: min-content 1fr;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
}

.block__inner-standard .block__img {
  margin: -40px;
  margin-bottom: 0;
  margin-left: 0;
}

.block__inner-standard .block__link {
  border-color: #B2B2B2;
}

.block__inner-standard .block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.block__inner-double {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 800px;
  grid-template-rows: 800px;
  grid-gap: 0;
}

.block__inner-double .block__img {
  width: 100%;
  height: 100%;
}

.block__inner-double .block__link {
  position: absolute;
  z-index: 2;
  bottom: 40px;
  left: 40px;
}

.block__inner-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 26px;
}

.block__inner-single .block__text {
  max-width: 310px;
}

.block__inner-single .block__desc {
  margin-bottom: 11px;
}

.block__inner-single .block__title {
  margin-bottom: 40px;
}

.block__inner-single .block__img {
  max-width: 800px;
  height: 568px;
  margin-right: 30px;
}

.block__inner-full {
  height: 800px;
  padding: 120px 40px;
  background-image: url("../img/img-7.jpg");
  background-position: center;
}

.block__inner-full .block__text {
  max-width: 280px;
}

.block__inner-full .block__title {
  margin-bottom: 40px;
}

.block__inner-full .block__desc {
  margin-bottom: 11px;
}

.block__desc {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: desc;
}

.block__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  width: calc(100% + 40px);
  -o-object-fit: cover;
     object-fit: cover;
  grid-area: img;
}

.block__inner-standard > .block__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
}

.block__img-body {
  position: relative;
}

.block__text {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  float: bottom;
  grid-area: text;
}

.block__inner-standard > .block__text {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
}

.block__paragraph {
  margin-bottom: 20px;
}

.block__title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
}

.block__inner-standard > .block__title {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.block__link {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #262626;
}

.block-yellow {
  background-color: #E7F066;
  color: #262626;
}

.block-brown {
  background-color: #9C8554;
  color: #B2B2B2;
}

.block-pink {
  background-color: #A26779;
  color: #B2B2B2;
}

.block-darkpink {
  background-color: #504B4D;
  color: #B2B2B2;
}

.block-red {
  background-color: #B04836;
  color: #B2B2B2;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20px;
  height: 10px;
}

.burger__line {
  width: 20px;
  height: 2px;
  background-color: #262626;
}

.card {
  position: absolute;
  right: 32px;
  bottom: 32px;
  width: 376px;
  padding: 48px;
  background-color: #262626;
  color: #f1f1ee;
}

.card__text {
  margin-bottom: 5px;
  font-size: 16px;
}

.card__link {
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f1ee;
}

.footer {
  padding: 50px 40px;
  background-color: #262626;
}

.footer__inner {
  color: #B2B2B2;
  position: relative;
}

.footer__inner::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  background-color: #ccc;
}

.footer__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 20px -webkit-min-content 20px -webkit-min-content;
  -ms-grid-columns: min-content 20px min-content 20px min-content;
  grid-template-columns: repeat(3, -webkit-min-content);
  grid-template-columns: repeat(3, min-content);
  -ms-grid-rows: auto 8px auto;
      grid-template-areas: "name-input email-input submit" "name email submit";
  grid-row-gap: 8px;
  grid-column-gap: 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.footer__paragraph {
  margin-bottom: 20px;
}

.footer__input {
  max-width: 280px;
}

.footer__input-name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name-input;
}

.footer__input-email {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: email-input;
}

.footer__button {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  grid-area: submit;
}

.footer__name {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: name;
}

.footer__email {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: email;
}

@media (max-width: 1440px) {
  .block__inner {
    padding: 20px;
    grid-gap: 20px;
  }

  .block__inner-main .block__text {
    margin-top: 100px;
  }

  .block__inner-main .block__img {
    margin: -20px;
    margin-bottom: 0;
    margin-right: 0;
  }

  .block__inner-standard .block__img {
    margin: -20px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .block__inner-double {
    -ms-grid-rows: 500px;
    grid-template-rows: 500px;
  }

  .block__inner-single {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 100px 20px;
  }

  .block__inner-single .block__img {
    width: 450px;
    height: 330px;
  }

  .block__inner-full {
    height: 500px;
  }

  .block__img {
    width: calc(100% + 20px);
  }
}

@media (max-width: 1023px) {
  .block__inner-main .card {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}

@media (max-width: 767px) {
  .block__inner-main {
    -ms-grid-rows: auto 20px auto 20px auto 20px auto;
        grid-template-areas: "img" "title" "text" "card";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .block__inner-main .card {
    -ms-grid-column: 1;
    grid-column: 1;
  }

  .block__inner-main .block__text {
    margin-top: 0;
  }

  .block__inner-main .block__img {
    width: calc(100% + 40px);
    margin: -20px;
    margin-bottom: 0;
  }

  .block__inner-standard {
        grid-template-areas: "img" "desc" "title" "text";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding-bottom: 40px;
  }

  .block__inner-standard .block__paragraph {
    margin-bottom: 5px;
  }

  .block__inner-standard .block__img {
    width: 100%;
    height: 300px;
    margin: 0;
    -o-object-position: center;
       object-position: center;
  }

  .block__inner-standard .block__title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .block__inner-double {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 200px 200px;
    grid-template-rows: 200px 200px;
  }

  .block__inner-single {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 40px 20px;
  }

  .block__inner-single .block__img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .block__inner-full {
    height: 400px;
    padding: 100px 20px;
  }

  .footer {
    padding: 30px 20px;
    padding-right: 30px;
  }

  .footer__inner::after {
    width: 10px;
    height: 10px;
    top: -20px;
    right: -20px;
  }

  .footer__form {
    -ms-grid-rows: auto 20px auto 20px auto 20px auto 20px auto;
        grid-template-areas: "name-input" "name" "email-input" "email" "submit";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  .footer__input {
    width: 100%;
  }

  .block__desc {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .block__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }

  .block__inner-standard > .block__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
  .block__text {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }

  .block__inner-standard > .block__text {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
  .block__title {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .block__inner-standard > .block__title {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .footer__input-name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .footer__input-email {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }

  .footer__button {
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }

  .footer__name {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .footer__email {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
}