@font-face {
    font-family: "seldom";
    src: url("../fonts/seldom.woff2") format("woff2"),
         url("../fonts/seldom.woff") format("woff");
}

@font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat.woff2") format("woff2"),
         url("../fonts/montserrat.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;

    font-family: "montserrat";
}

#container {
    position: relative;
    z-index: 1;

    width: 100%;
    height: 100%;
}

.card {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 999;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 400px;
    padding: 50px 30px;
    border-radius: 20px;

    background-color: #fff;
}

.card__title {
    margin-bottom: 10px;

    font-family: "seldom";
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;

    color: #1f1f1f;
}

.card__sub-title {
    margin-bottom: 30px;

    font-size: 12px;
    font-weight: 700;
    text-transform: lowercase;

    color: rgba(#1f1f1f, 1);
}

.card__text {
    width: 100%;
    margin-bottom: 10px;

    font-size: 18px;
    text-align: left;
    line-height: 28px;
    font-weight: 400;
    text-transform: lowercase;

    color: rgba(#1f1f1f, .2);
}