@font-face {
  font-family: 'ppneuemachina';
  src: 
    local("ppneuemachina"),
    url('../font/PPNeueMachina-Regular.otf') format('opentype');
}

* {
  font-family: 'ppneuemachina';
}

*, body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 1;
  font-weight: 400;
  /* letter-spacing: 0.1px; */
}

body {
  position: relative;
  background-color: #dbdbdb;
  overflow-x: hidden;
}

.header {
  position: fixed;
  z-index: 1000;

  display: grid;
  align-items: center;
  grid-template-columns: 40vw 1fr;

  width: calc(100% - 144px);
  padding: 20px 0;
}

.nav {
  display: flex;     
}

.nav-link {
  font-size: 20px;
  color: #0A4175;
  transition: ease-in 0.2s;
}

.nav .nav-link:not(:last-child) {
  margin-right: 48px;
}

.hero {
  z-index: 2;

  display: grid;
  grid-template-columns: 40vw 1fr;

  height: 100vh;
}

.hero-content {
  margin-top: 45vh;
}

.hero-title {
  margin-bottom: 16px;

  font-size: 100px;
  color: #0A4175;
}

.hero-subtitle {
  margin-bottom: 24px;

  font-size: 40px;
  color: #0A4175;
}

.button {
  display: inline-block;

  padding: 12px 67px;

  border: solid 1px #0A4175;
  border-radius: 50px;

  font-size: 20px;
  color: #0A4175;
}

.services {
  position: relative;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 100vh;
  margin-top: 80vh;

  /* background: linear-gradient(143.36deg, #015172 10.39%, #FF603D 47.45%, #FF93D4 86.02%), */
/* radial-gradient(109.78% 109.78% at 5.75% 37.01%, #FF93D4 0%, rgba(255, 147, 212, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
/* radial-gradient(92.96% 92.96% at 90.32% 58.11%, #FF603D 1.96%, rgba(255, 96, 61, 0) 100%) warning: gradient uses a rotation that is not supported by CSS and may not behave as expected, */
/* radial-gradient(52.48% 52.48% at 19.02% 93.12%, #79A0FF 1.96%, rgba(121, 160, 255, 0) 100%) warning: gradient uses a rotation that is not supported by CSS and may not behave as expected; */

}

.services__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, min-content);
  grid-gap: 50px;

  margin-top: 10vh;
}

.services__item {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 16px;
}

.services__item-icon {
  width: 72px;
}

.services__item-content {
 color: #e5e5e5; 
}

.services__item-name {
  margin-bottom: 17px;

  font-size: 24px;
}

.services__item-text {
  font-size: 20px;  
}